<div class="fp-bottom">
  <div class="fp-menu">
    <nav class="nav justify-content-center dropdown">
      <% default_domain_id = EducationalDomain.default_domain.id %>
      <div class="nav-item dropdown">
        <a class="nav-link" data-toggle='dropdown'>
          <h4>Vælg din uddannelse &#9660</h4>
        </a>
        <div class="dropdown-menu">
        <% domain_list = {} %>
        <% EducationalDomain.order(:name).all.each do |item| %>
          <% item.educations.each { |i| domain_list[i] ||= item } %>
        <% end %>

        <% domain_list.sort_by { |(k,v)| k }.each do |key, obj| %>
          <% next if obj.id == default_domain_id %>
            <a class="dropdown-item" href="http://<%= obj.domain %>">
              <div class="menu-text"><%= key %></div>
            </a>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</div>
