<% if @domain.sponsors.exists? %>
  <div class="sponsor-title">Samarbejdspartnere</div>
  <div class="flexbox">
    <% @domain.sponsors.each do |sponsor| %>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="samarbejdspartner-box">
          <% if sponsor.logo.attached? # #logo is an ActiveStorage-attachment %>
            <%= image_tag rails_blob_url(sponsor.logo), class: 'sponsor-img' %>
          <% elsif sponsor.image.present? # Fallback to string path from previous stuff %>
            <img class="sponsor-img" src="<%= image_path(sponsor.image) %>" />
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
