<div class="login-container">
  <div class="login-wrap">
    <div class="text-center">
      <h1>
        Welcome
      </h1>
      <p>Login to Rusling.dk administration.<br />If you do not have access, and you feel like you are supposed to have access, contact your student instructors.</p>
      <%= link_to '/auth/saml', class: 'btn btn-social btn-aau' do %>
        <i class="fa">
          <svg id="logo" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.37 41.53"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M39.37,32.35a28.24,28.24,0,0,1-4-2c-5.11-3.12-6.67-7.76-3.79-15.86,1.66-4.69,2.46-8.64,2-12.91l-.17-.11c-.27,5.36-2.25,8.69-5.79,14.33-7.49,11.94.12,20.7,3.73,23.42A21.82,21.82,0,0,0,39.37,32.35Z"/><path class="cls-1" d="M24.19,15.37C30,8.57,31.85,5.43,32.24.75L32.06.64c-1.34,5.6-4.7,8.57-13.55,14.47-9.53,6.34-9.1,17.25-6.68,24a21.6,21.6,0,0,0,9.85,2.37,20.62,20.62,0,0,0,2.24-.11C17,31,17.52,23.22,24.19,15.37Z"/><path class="cls-1" d="M20.66,10.35C27,7.58,30.07,3.37,30.94.08L30.77,0C28,5.81,22.45,6.78,13,8.05A18,18,0,0,0,.33,16,21.73,21.73,0,0,0,4.82,33.44C4.55,17.16,13,13.67,20.66,10.35Z"/></svg>
        </i> Sign in via AAU
      <% end %>
    </div>
  </div>
</div>
